<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/thiep.jpg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Thiep</ion-card-subtitle>
      <ion-card-title class="ionic-align-center">Thiebou dieune penda mbaye</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/thiep2.jpg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Riz au poisson blanc</ion-card-subtitle>
      <ion-card-title class="ionic-align-center">Thieboudieune bou wekh</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/yassa.jpg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Yassa</ion-card-subtitle>
      <ion-card-title class="ionic-align-center">Recette yassa au poulet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>

  </ion-card>


</ion-content>
